h1 {
  text-align: center;
  font-size: 50px
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial'
}

.nav {
  background-color: #595959;
  color: #ffffff
  list-style:none;
  text-align: center;
  padding: 20px 0 20px 0
}

.nav > li {
  display: inline-block;
  padding-right: 50px
}
.nav > li > a {
  text-decoration: none;
  color: #ffffff;
}
.nav > li > a:hover {
  color: #c1c1c1
}
.banner {
  width: 100%;
  display: block;
}
.banner > .banner-image {
  width: 100%;
  height: 400px;
  display: block;
}
.volcano > img {
  padding: 30px;
}
p {
  text-align: center;
  font-size: 25px;
}
.info > p{
  text-align: right;
}
