h1 {
  text-align: center;
  font-size: 50px
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial'
}

.nav {
  background-color: #595959;
  color: #ffffff
  list-style:none;
  text-align: center;
  padding: 20px 0 20px 0
}

.nav > li {
  display: inline-block;
  padding-right: 50px
}
.nav > li > a {
  text-decoration: none;
  color: #ffffff;
}
.nav > li > a:hover {
  color: #c1c1c1
}
.banner {
  width: 100%;
  display: block;
}
.banner > .banner-image {
  width: 100%;
  height: 400px;
  display: block;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}
input[type=submit] {
  background-color: #595959;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #c1c1c1;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 40px;
}
.fa {
  padding: 30px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #e333f1;
  color: white;
}
.fa-snapchat {
  background: #fff111;
  color:white;
}
p {
  text-align: left;
  font-size: 25px;
}
